.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.main {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 14rem;
  background-color: var(--gray-700);
  position: relative;
}

.header img {
  width: 150px;
}

form {
  position: absolute;
  top: -122px;
  display: flex;
  gap: 8px;
  width: 100%;
}

form input {
  flex: 1;
  width: 100%;
  padding: 18px 15px;
  border-radius: 8px;
  background-color: var(--gray-500);
  color: var(--gray-100);
  border: 2px solid;
  border-color: var(--gray-700);
  font-size: 1.15rem;
}

form button {
  border-radius: 8px;
  line-height: 1rem;
  min-width: 92px;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 8px;
  transition: background-color 100ms linear; 
}

form button:hover {
  cursor: pointer;
}

form button:active {
  background-color: var(--blue);
}

form button img {
  width: fit-content;
}

/* tasks */
.tasksContainer {
  position: relative;
  margin-top: 91px;

  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .tasksContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 374px) {
  /* For mobile phones: */
  .tasksContainer {
    width: 95%;
  }
}

.tasksHeader {
  height: 44px;
  width: 100%;
  margin-bottom: 24px;

  display: flex;
  justify-content: space-between;
}

.tasksHeader div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 700;
}

.tasksHeader div:nth-child(1) {
  color: var(--purple)
}

.tasksHeader div:nth-child(2) {
  color: var(--blue)
}

.resultBox {
  background-color: var(--gray-400);
  border-radius: 9999px;
  padding-inline: 10px;
  color: var(--white)
}

.tasks {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.task {
  width: 100%;
  background-color: var(--gray-500);
  border-radius: 8px;
  padding: 16px;

  display: flex;
  flex-direction: row;
  gap: 16px;

  border: 1px solid var(--gray-400);
}

.task p{
  flex: 1;
  text-decoration-line: none;
}

.finished {
  border: 0;
}
.finished p {
  flex: 1;
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.task button{
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition: opacity 100ms;
}
.task button:hover {
  opacity: 0.5;
}