.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.main {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14rem;
  background-color: var(--gray-700);
  position: relative;
}

.header img {
  width: 150px;
}

.header form {
  position: absolute;
  bottom: -20px;
  display: flex;
  gap: 8px;
  width: 50%;
  height: 48px;
}

.header form input {
  flex: 1;
  padding: 15px 15px;
  border-radius: 4px;
  background-color: var(--gray-500);
  color: var(--gray-100);
  border: 0;
  font-size: 1rem;
}

.header form button {
  border-radius: 4px;
  line-height: 1rem;
  padding-left: 21px;
  padding-right: 21px;
  font-size: 1rem;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: background-color 100ms linear; 
}

.header form button:hover {
  cursor: pointer;
}

.header form button:active {
  background-color: var(--blue);
}

.header form button img {
  width: fit-content;
}

/* tasks */
.tasksContainer {
  margin-top: 55px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.tasksHeader {
  height: 44px;
  width: 50%;

  display: flex;
  justify-content: space-between;
}

.tasksHeader div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 700;
}

.tasksHeader div:nth-child(1) {
  color: var(--purple)
}

.tasksHeader div:nth-child(2) {
  color: var(--blue)
}

.resultBox {
  background-color: var(--gray-400);
  border-radius: 9999px;
  padding-inline: 10px;
  color: var(--white)
}